<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{../webjars/AdminLTE/3.1.0/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{../webjars/AdminLTE/3.1.0/dist/css/adminlte.min.css}">

    <!-- JAVASCRIPT -->
    <script type="text/javascript" th:src="@{../webjars/AdminLTE/3.1.0/plugins/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{../webjars/AdminLTE/3.1.0/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{../webjars/AdminLTE/3.1.0/dist/js/adminlte.min.js}"></script>

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{../images/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{../images/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{../images/favicon/favicon-16x16.png}">
    <link rel="manifest" th:href="@{../images/favicon/site.webmanifest}">

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<head th:fragment="headerfiles_admin_compose">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{../webjars/AdminLTE/3.1.0/plugins/select2/css/select2.min.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{../webjars/AdminLTE/3.1.0/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{../webjars/AdminLTE/3.1.0/dist/css/adminlte.min.css}">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{../webjars/AdminLTE/3.1.0/plugins/fontawesome-free/css/all.min.css}">

    <!-- JAVASCRIPT -->
    <script type="text/javascript" th:src="@{../webjars/AdminLTE/3.1.0/plugins/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{../webjars/AdminLTE/3.1.0/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{../webjars/AdminLTE/3.1.0/plugins/select2/js/select2.full.min.js}"></script>
    <script type="text/javascript" th:src="@{../webjars/AdminLTE/3.1.0/dist/js/adminlte.min.js}"></script>

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{../images/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{../images/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{../images/favicon/favicon-16x16.png}">
    <link rel="manifest" th:href="@{../images/favicon/site.webmanifest}">

    <!-- FONTS -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto">

    <!-- summernote -->
    <link rel="stylesheet" th:href="@{../webjars/AdminLTE/3.1.0/plugins/summernote/summernote-bs4.min.css}">
    <script th:src="@{../webjars/AdminLTE/3.1.0/plugins/summernote/summernote-bs4.min.js}"></script>
    <script type="text/javascript" th:src="@{../webjars/AdminLTE/3.1.0/plugins/summernote/lang/summernote-pt-BR.min.js}"></script>
    <script type="text/javascript" th:src="@{../javascript/summernote-ext-highlight.js}"></script>

    <style>
		.note-editable {
			font-family: Roboto;
			font-size: 14px!important;
		}
	</style>
</head>

<body>

<div th:fragment="header" class="navigation-bar w-nav" data-animation="default" data-collapse="medium" data-contain="1" data-duration="400">
    <div class="w-container">
        <a class="w-nav-brand w--current" th:href="@{/home}">
            <div class="site-name">DB Logic</div>
        </a>
        <nav class="navigation-menu w-nav-menu" role="navigation">
            <a class="navigation-link w-nav-link" th:href="@{/home}"	 >Início</a>
            <a class="navigation-link w-nav-link" th:href="@{/about}" 	 >Sobre</a>
            <a class="navigation-link w-nav-link" th:href="@{/contact}"  >Contato</a>
            <a class="navigation-link w-nav-link" th:href="@{/archives}" >Procurar</a>
            <a class="navigation-link w-nav-link" th:href="@{/admin}" 	 >Admin</a>
            <!-- a sec:authentication=”name”></a> -->
        </nav>
        <div class="menu-button w-nav-button">
            <div class="w-icon-nav-menu"></div>
        </div>
    </div>
    <div class="w-nav-overlay" data-wf-ignore=""></div>

    <script>
			window.cookieconsent.initialise({
				container: document.getElementById("content"),
				palette:{
					popup: {
						background: "#ffffff"
					},
					button: {
						background: "#aa0000"
					},
				},
				content: {
					message: 'Este website utiliza cookies para melhorar sua experiência.',
					dismiss: 'Tudo bem.',
					link:	 'Saiba mais',
					href:	 'https://www.tecmundo.com.br/web/1069-o-que-sao-cookies-.htm',
				},
			});
		</script>

</div>

<!-- <SIDEBAR> -->
<div th:fragment="sidebar" class="w-col w-col-3 w-hidden-small w-hidden-tiny">
    <div th:replace="fragments/sidebar.html :: content-sidebar"></div>
</div>

<div th:fragment="mobile-sidebar" class="sidebar-on-mobile">
    <div th:replace="fragments/sidebar.html :: content-sidebar"></div>
</div>

<div th:fragment="sidebar_level_1" class="w-col w-col-3 w-hidden-small w-hidden-tiny">
    <div th:replace="fragments/sidebar.html :: content-sidebar_level_1"></div>
</div>

<div th:fragment="mobile-sidebar_level_1" class="sidebar-on-mobile">
    <div th:replace="fragments/sidebar.html :: content-sidebar_level_1"></div>
</div>
<!-- </SIDEBAR> -->

<footer th:fragment="footerfiles">
    <!--[if lte IE 9]>
    <script th:src="@{webjars/Placeholders/3.0.2-1/Placeholders.min.js}"></script>
    <![endif] -->
</footer>

</body>
</html>